div#carousel-example-generic.carousel.slide(data-ride="carousel")
	ol.carousel-indicators
		li.active(data-target="#carousel-example-generic" data-slide-to="0")
		li(data-target="#carousel-example-generic" data-slide-to="1")
		li(data-target="#carousel-example-generic" data-slide-to="2")
	div.carousel-inner(role="listbox")
		div.item.active
			img(src="/images/14.jpg", alt="", style="width: 458px; height: 220px;")
			div.carousel-caption
				h3 h3h3h3h3
				p ppppppppppppppppp0
		div.item
			img(src="/images/15.jpg", alt="", style="width: 458px; height: 220px;")
			div.carousel-caption
				h3 h3h3h3h3
				p ppppppppppppppppp1
		div.item
			img(src="/images/25.jpg", alt="", style="width: 458px; height: 220px;")
			div.carousel-caption
				h3 h3h3h3h3
				p ppppppppppppppppp3
	a.left.carousel-control(href="#carousel-example-generic", role="button", data-slide="prev")
		span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
		span.sr-only Previous
	a.right.carousel-control(href="#carousel-example-generic", role="button", data-slide="next")
		span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
		span.sr-only Next
script.
	$('.carousel').carousel({
		interval: 3000
	})