div.col-md-4
	div.thumbnail(style="margin-bottom: 5px;")
		img(src="/images/24.jpg", alt="dddd", style="width: 100%;height:100px;")
		div.caption(style="padding:2px;")
			h4(style="margin: 2px 0;")
				a(href="javascript:void(0)") 某某水果
			legend(style="margin-bottom: 2px;")
			p(style="font-size: 18px;text-align: center;margin: 0;")
				a.glyphicon.glyphicon-shopping-cart(href="javascript:void(0)", title="购买", style="text-decoration: none;color: red;")
				| &nbsp;&nbsp;
				a.glyphicon.glyphicon-star-empty(href="javascript:void(0)", title="收藏", style="text-decoration: none;color: orange;")