extends ../layout

block content
	.container
		.row(style="margin-top: 10px;")
			.col-md-4
				include ../module/tab
			.col-md-5
				include ../module/carousel
			.col-md-3
				include ../module/toolpanel
		.row(style="margin-top: 10px;")
			include ../module/thumbnail
		.row(style="margin-top: 10px;")